<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <connectionStrings>
    <add name="ConexaoOrigem" providerName="Oracle.DataAccess.Client" connectionString="connectionString" />
    <add name="ConexaoDestino" providerName="Oracle.DataAccess.Client" connectionString="connectionString" />
  </connectionStrings>
  <appSettings>
    <add key="Levismad.MainPackage" value="SCHEMA.PACKAGE." />
    <add key="DefaultCulture" value="pt-BR" />
    <add key="Levismad.QuantidadeRegistrosPorTransacao" value="10000" />


    <add key="Levismad.ComandoSQLOrigem.C1" value="Select  * From    C1" />
    <add key="Levismad.ComandoSQLDestino.C1" value="PCK_MIGR_FIDDES.C1" />
    <add key="Levismad.ComandoSQLOrigem.C2" value="Select  a.* From    C2 a" />
    <add key="Levismad.ComandoSQLDestino.C2" value="PCK_MIGR_FIDDES.C2" />
    <add key="Levismad.ComandoSQLOrigem.C3" value="Select  a.* From      C3 a" />
    <add key="Levismad.ComandoSQLDestino.C3" value="PCK_MIGR_FIDDES.C3" />
    <add key="Levismad.ComandoSQLOrigem.C4" value="Select a.* From C4 a" />
    <add key="Levismad.ComandoSQLDestino.C4" value="PCK_MIGR_FIDDES.C4" />
    <add key="Levismad.ComandoSQLOrigem.C4Filtro" value="WHERE 1 = 1" />
    <add key="Levismad.ComandoSQLOrigem.C5" value="Select * From C5" />
    <add key="Levismad.ComandoSQLDestino.C5" value="PCK_MIGR_FIDDES.C5" />
    <add key="Levismad.ComandoSQLOrigem.C6" value="Select * From C6" />
    <add key="Levismad.ComandoSQLDestino.C6" value="PCK_MIGR_FIDDES.C6" />
    <add key="Levismad.ComandoSQLOrigem.C7" value="Select  * From    C7" />
    <add key="Levismad.ComandoSQLDestino.C7" value="PCK_MIGR_FIDDES.C7" />
    <add key="Levismad.ComandoSQLOrigem.C8" value="Select * From C8" />
    <add key="Levismad.ComandoSQLDestino.C8" value="PCK_MIGR_FIDDES.C8" />
    <add key="Levismad.ComandoSQLOrigem.C9" value="Select * From C9" />
    <add key="Levismad.ComandoSQLDestino.C9" value="PCK_MIGR_FIDDES.C9" />
    <add key="Levismad.ComandoSQLOrigem.C10" value="Select * From C10" />
    <add key="Levismad.ComandoSQLDestino.C10" value="PCK_MIGR_FIDDES.C10" />
    <add key="Levismad.ComandoSQLOrigem.C11" value="Select * From C11" />
    <add key="Levismad.ComandoSQLDestino.C11" value="PCK_MIGR_FIDDES.C11" />
    <add key="Levismad.ComandoSQLOrigem.C12" value="Select * From C12 a" />
    <add key="Levismad.ComandoSQLDestino.C12" value="PCK_MIGR_FIDDES.C12" />
    <add key="Levismad.ComandoSQLOrigem.C13" value="Select * From C13 a" />
    <add key="Levismad.ComandoSQLDestino.C13" value="PCK_MIGR_FIDDES.C13" />
    <add key="Levismad.ComandoSQLDestino.C14" value="PCK_MIGR_FIDDES.C14" />
    <add key="Levismad.ComandoSQLOrigem.C14_1" value="Select * From C14_1 a" />
    <add key="Levismad.ComandoSQLOrigem.C14_2" value="Select * From C14_2 a" />
    <add key="Levismad.ComandoSQLOrigem.C14_3" value="Select * From C14_3 a" />
    <add key="Levismad.ComandoSQLOrigem.C14_4" value="Select * From C14_4" />
    <add key="Levismad.ComandoSQLOrigem.C14_5" value="Select * From C14_5 a" />
    <add key="Levismad.ComandoSQLOrigem.C15" value="Select * From C16 a" />
    <add key="Levismad.ComandoSQLDestino.C15" value="PCK_MIGR_FIDDES.C16" />
    <add key="Levismad.ComandoSQLOrigem.C16" value="Select * From C16 a" />
    <add key="Levismad.ComandoSQLDestino.C16" value="PCK_MIGR_FIDDES.C16" />
    
    
    <!-- /FIM BLOCO REFERENTE A CONTRATOS EM ABERTO  -->

    
    <!-- CONFIGURAÇÃO DE CARGA SEQUENCIAL -->
    <add key="Levismad.ExecutarCarga.C1" value="true" />
    <add key="Levismad.ExecutarCarga.C3" value="true" />
    <add key="Levismad.ExecutarCarga.C2" value="true" />
    <add key="Levismad.ExecutarCarga.C4" value="true" />
    <add key="Levismad.ExecutarCarga.C5" value="true" />
    <add key="Levismad.ExecutarCarga.C6" value="true" />
    <add key="Levismad.ExecutarCarga.C7" value="true" />
    <add key="Levismad.ExecutarCarga.C8" value="true" />
    <add key="Levismad.ExecutarCarga.C9" value="true" />
    <add key="Levismad.ExecutarCarga.C10" value="true" />
    <add key="Levismad.ExecutarCarga.C11" value="true" />
    <add key="Levismad.ExecutarCarga.C12" value="true" />
    <add key="Levismad.ExecutarCarga.C13" value="true" />
    <add key="Levismad.ExecutarCarga.C14" value="true" />
    <add key="Levismad.ExecutarCarga.C15" value="true" />
    <add key="Levismad.ExecutarCarga.C16" value="true" />
  
  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <setting name="TNS_ADMIN" value="(ORACLE_HOME)\network\admin" />
      </settings>
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <log4net>
    <appender name="DebugRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log\\" />
      <param name="DatePattern" value="\\yyyyMMdd\\'execucao_error.log'" />
      <preserveLogFileNameExtension value="true" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="10240KB" />
      <param name="RollingStyle" value="Composite" />
      <param name="StaticLogFileName" value="false" />
      <param name="Threshold" value="DEBUG" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="[%d{dd MMM HH:mm:ss}]- %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
    </appender>
    <appender name="InfoRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log\\" />
      <param name="DatePattern" value="\\yyyyMMdd\\'execucao.log'" />
      <preserveLogFileNameExtension value="true" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="10240KB" />
      <param name="RollingStyle" value="Composite" />
      <param name="StaticLogFileName" value="false" />
      <param name="Threshold" value="DEBUG" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%p [%d{dd MMM HH:mm:ss}]- %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    <appender name="WarnRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log\\" />
      <param name="DatePattern" value="\\yyyyMMdd\\'resumo.log'" />
      <preserveLogFileNameExtension value="true" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="10240KB" />
      <param name="RollingStyle" value="Composite" />
      <param name="StaticLogFileName" value="false" />
      <param name="Threshold" value="WARN" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="[%d{dd MMM HH:mm:ss}]- %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="WARN" />
      </filter>
    </appender>
    <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log\\" />
      <param name="DatePattern" value="\\yyyyMMdd\\'erro.log'" />
      <preserveLogFileNameExtension value="true" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="10240KB" />
      <param name="RollingStyle" value="Composite" />
      <param name="StaticLogFileName" value="false" />
      <param name="Threshold" value="ERROR" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%p [%d{dd MMM HH:mm:ss}]- %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%p [%d{dd MMM HH:mm:ss}]- %m%n" />
      </layout>
    </appender>
    <root>
      <level value="debug" />
      <appender-ref ref="InfoRollingLogFileAppender" />
      <appender-ref ref="ErrorRollingLogFileAppender" />
      <appender-ref ref="WarnRollingLogFileAppender" />
      <appender-ref ref="DebugRollingLogFileAppender" />
      <appender-ref ref="Console" />
    </root>
  </log4net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>